<header class="myheader">
        <h1 id="user" data-userId="<%=userId%>"><a href="/"><%= userName %></a></h1>

        <nav class="header">
            <ul class="parent">
                <li>
                    <a href="/Home">
                        ALL Achievements
                    </a>
                </li>
                <li><a href="/add-new-Achievement">
                        Add new Achievement </a></li>
                <li id="dark" class="mode"><a href="/Contact">Contact Us</a></li>
                <li><a href="/logout"> Logout </a></li>
            </ul>
        </nav>
    </header>

